@{
    ViewData["Title"] = "FontAwesome Tag Helper Demos";
}

<h1>TagHelper Demos</h1>

<p>This page shows examples of usage of all included tag helpers within this library.</p>

<h2>alert</h2>

<p>Renders a Alert</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Example</th>
            <th>Display</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Primary</th>
            <td>
                <alert alert-color="Primary">
                    This is a primary alert!  Yay
                </alert>
            </td>
            <td>
                <code>
                    &lt;alert alert-color=&quot;Primary&quot;&gt;
                        This is a primary alert!  Yay
                    &lt;/alert&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Secondary</th>
            <td>
                <alert alert-color="Secondary">
                    This is a secondary alert!  Yay
                </alert>
            </td>
            <td>
                <code>
                    &lt;alert alert-color=&quot;Secondary&quot;&gt;
                        This is a secondary alert!  Yay
                    &lt;/alert&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Danger</th>
            <td>
                <alert alert-color="Danger">
                    This is a danger alert!  With a <a href="#" class="alert-link">link!</a>.
                </alert>
            </td>
            <td>
                <code>
                    &lt;alert alert-color=&quot;Danger&quot;&gt;
                        This is a danger alert!  Yay
                    &lt;/alert&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Warning Dismissible</th>
            <td>
                <alert alert-color="Warning" dismissible="true">
                    This is a dismissable warning alert! 
                </alert>
            </td>
            <td>
                <code>
                    &lt;alert alert-color=&quot;Warning&quot; dismissible=&quot;false&quot;&gt;
                    This is a dismissable warning alert! 
                &lt;/alert&gt;
                </code>
            </td>
        </tr>
    </tbody>
</table>


<h2>int-font-awesome-icon</h2>

<p>Renders a nullable int as a Font Awesome icon when null</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Example</th>
            <th>Display</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Null Value</th>
            <td><int-font-awesome-icon value="null" /></td>
            <td>
                <code>
                    &lt;int-font-awesome-icon value="null" /&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Not Null Value</th>
            <td><int-font-awesome-icon value="15" /></td>
            <td>
                <code>
                    &lt;int-font-awesome-icon value="15" /&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Null Custom Icon</th>
            <td><int-font-awesome-icon value="null" null-value-icon-class="fas fa-times text-danger" /></td>
            <td>
                <code>
                    &lt;int-font-awesome-icon value="null" null-value-icon-class="fas fa-times text-danger" /&gt;
                </code>
            </td>
        </tr>
    </tbody>
</table>


<h2>decimal-font-awesome-icon</h2>

<p>Renders a nullable decimal as a Font Awesome icon when null</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Example</th>
            <th>Display</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Null Value</th>
            <td><decimal-font-awesome-icon value="null" /></td>
            <td>
                <code>
                    &lt;decimal-font-awesome-icon value="null" /&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Not Null Value</th>
            <td> <decimal-font-awesome-icon value="15.99m" /></td>
            <td>
                <code>
                    &lt;decimal-font-awesome-icon value="15" /&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Formatted Value</th>
            <td><decimal-font-awesome-icon value="15.99m" format="C" /></td>
            <td>
                <code>
                    &lt;decimal-font-awesome-icon value="15" format="C" /&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Custom Null</th>
            <td><decimal-font-awesome-icon value="null" null-value-icon-class="fas fa-times text-danger" /></td>
            <td>
                <code>
                    &lt;decimal-font-awesome-icon value="null" null-value-icon-class="fas fa-times text-danger" /&gt;
                </code>
            </td>
        </tr>
    </tbody>
</table>


<h2>date-time-font-awesome-icon</h2>

<p>Renders a nullable datetime as a Font Awesome icon when null</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Example</th>
            <th>Display</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Null Value</th>
            <td><date-time-font-awesome-icon value="null" /></td>
            <td>
                <code>
                    &lt;date-time-font-awesome-icon value="null" /&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Not Null Value</th>
            <td><date-time-font-awesome-icon value="new DateTime(2022, 02, 02, 10,30,00)" /></td>
            <td>
                <code>
                    &lt;date-time-font-awesome-icon value="new DateTime(2022, 02, 02, 10,30,00)" /&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Formatted Value</th>
            <td><date-time-font-awesome-icon value="new DateTime(2022, 02, 02, 10,30,00)" format="MM/dd/yyyy" /></td>
            <td>
                <code>
                    &lt;date-time-font-awesome-icon value="new DateTime(2022, 02, 02, 10,30,00)" format="MM/dd/yyyy" /&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Custom Null</th>
            <td><date-time-font-awesome-icon value="null" null-value-icon-class="fas fa-times text-danger" /></td>
            <td>
                <code>
                    &lt;date-time-font-awesome-icon value="null" null-value-icon-class="fas fa-times text-danger" /&gt;
                </code>
            </td>
        </tr>
    </tbody>
</table>

<h2>string-font-awesome-icon</h2>

<p>Renders a string as a Font Awesome icon when null/empty</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Example</th>
            <th>Display</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Null Value</th>
            <td><string-font-awesome-icon value="" /></td>
            <td><code>&lt;string-font-awesome-icon value="" /&gt;</code></td>
        </tr>
        <tr>
            <th>With Value</th>
            <td><string-font-awesome-icon value="Testing!" /></td>
            <td><code>&lt;string-font-awesome-icon value="Testing!" /&gt;</code></td>
        </tr>
        <tr>
            <th>Custom Null</th>
            <td><string-font-awesome-icon value="" null-value-icon-class="fas fa-plus text-danger" /></td>
            <td>
                <code>
                    &lt;string-font-awesome-icon value=""
                    null-value-icon-class="fas fa-plus text-danger" /&gt;
                </code>
            </td>
        </tr>
    </tbody>
</table>