@using ICG.AspNetCore.Utilities.BootstrapTagHelpers
@model AspNetCore.Utilities.BootstrapTagHelpers.Sample.Models.SampleModel

@{
    ViewData["Title"] = "Bootstrap Tag Helper Demos";
}

<h1>TagHelper Demos</h1>

<p>This page shows examples of usage of all included tag helpers within this library.</p>

<h2>alert</h2>

<p>Renders a Alert</p>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Example</th>
        <th>Display</th>
        <th>Code</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Primary</th>
        <td>
            <alert alert-color="Primary">
                This is a primary alert!  Yay
            </alert>
        </td>
        <td>
            <code>
                &lt;alert alert-color=&quot;Primary&quot;&gt;
                This is a primary alert!  Yay
                &lt;/alert&gt;
            </code>
        </td>
    </tr>
    <tr>
        <th>Secondary</th>
        <td>
            <alert alert-color="Secondary">
                This is a secondary alert!  Yay
            </alert>
        </td>
        <td>
            <code>
                &lt;alert alert-color=&quot;Secondary&quot;&gt;
                This is a secondary alert!  Yay
                &lt;/alert&gt;
            </code>
        </td>
    </tr>
    <tr>
        <th>Danger</th>
        <td>
            <alert alert-color="Danger">
                This is a danger alert!  With a <a href="#" class="alert-link">link!</a>.
            </alert>
        </td>
        <td>
            <code>
                &lt;alert alert-color=&quot;Danger&quot;&gt;
                This is a danger alert!  Yay
                &lt;/alert&gt;
            </code>
        </td>
    </tr>
    <tr>
        <th>Warning Dismissible</th>
        <td>
            <alert alert-color="Warning" dismissible="true">
                This is a dismissable warning alert! 
            </alert>
        </td>
        <td>
            <code>
                &lt;alert alert-color=&quot;Warning&quot; dismissible=&quot;false&quot;&gt;
                This is a dismissable warning alert! 
                &lt;/alert&gt;
            </code>
        </td>
    </tr>
    </tbody>
</table>

<h2>badge</h2>

<p>Renders a Badge</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Example</th>
            <th>Display</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Primary</th>
            <td>
                <badge badge-color="Primary">
                    This is a primary Badge
                </badge>
            </td>
            <td>
                <code>
                    &lt;badge badge-color=&quot;Primary&quot;&gt;
                        This is a Primary Badge
                    &lt;/badge&gt;
                </code>
            </td>
        </tr>
    <tr>
        <th>Secondary</th>
        <td>
            <badge badge-color="Secondary">
                This is a secondary Badge
            </badge>
        </td>
        <td>
            <code>
                &lt;badge badge-color=&quot;Secondary&quot;&gt;
                This is a Secondary Badge
                &lt;/badge&gt;
            </code>
        </td>
    </tr>
    <tr>
        <th>Danger</th>
        <td>
            <badge badge-color="Danger">
                This is a Danger Badge
            </badge>
        </td>
        <td>
            <code>
                &lt;badge badge-color=&quot;Danger&quot;&gt;
                This is a Danger Badge
                &lt;/badge&gt;
            </code>
        </td>
    </tr>
    </tbody>
</table>

<h2>Text Input Helper</h2>

<p>This is a helper for rendering standard bootstrap fom inputs, using ASP.NET Model Binding.</p>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Example</th>
        <th>Display</th>
        <th>Code</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Name Field</th>
        <td><form-input asp-for="Name"></form-input></td>
        <td>
            <code>
                &lt;form-text-input asp-for=&quot;Name&quot;&gt;&lt;/form-text-input&gt;
            </code>
        </td>
    </tr>
    <tr>
        <th>Email Field</th>
        <td><form-input asp-for="Email"></form-input></td>
        <td>
            <code>
                &lt;form-text-input asp-for=&quot;Email&quot;&gt;&lt;/form-text-input&gt;
            </code>
        </td>
    </tr>
    <tr>
        <th>Password Field</th>
        <td><form-input asp-for="Password">
            <form-note>Must be 8 characters with letters & numbers</form-note>
        </form-input></td>
        <td>
            <code>
                &lt;form-text-input asp-for=&quot;Password&quot;&gt;&lt;/form-text-input&gt;
            </code>
        </td>
    </tr>
    <tr>
        <th>Additional Info</th>
        <td><form-text-area asp-for="AdditionalInfo">
            <form-note>Testing a custom note on this field</form-note>
        </form-text-area></td>
        <td>
            <code>&lt;form-text-input asp-for=&quot;AdditionalInfo&quot;&gt;
                &lt;form-note&gt;Testing a custom note on this field&lt;/form-note&gt;
                &lt;/form-text-input&gt;
            </code>
        </td>
    </tr>
    </tbody>
</table>

<h2>Cards</h2>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Example</th>
        <td>Code</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <card>
                <card-header ></card-header>
            </card>
        </td>
    </tr>
    <tr>
        <td>
            <card class="bg-success text-white" >
                <card-header title="With Title"></card-header>
            </card>
        </td>
    </tr>
    <tr>
        <td>
            <card>
                <card-header title="Testing All Options">
                    <card-header-actions>
                        <a href="https://www.google.com" class="btn btn-primary">Google</a>
                        <a href="https://www.microsoft.com" class="btn btn-secondary">Microsoft</a>
                    </card-header-actions>
                </card-header>
                <card-body>
                    <p>This is my body</p>
                </card-body>
            </card>
        </td>
    </tr>
    </tbody>
</table>

<h2>Modal Dialog</h2>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Example</th>
        <th>Code</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><modal-toggle Target="testing">
                Launch Demo
            </modal-toggle>

            <modal id="testing" class="im-weird">
                <modal-header Title="Testing Modal Header">
                    <modal-header-dismiss></modal-header-dismiss>
                </modal-header>
                <modal-body>
                    <form-input asp-for="Name"></form-input>
                </modal-body>
                <modal-footer>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </modal-footer>
            </modal></td>
        <td>
            <code>
                <pre>&lt;modal-toggle Target=&quot;testing&quot;&gt;
    Launch Demo
&lt;/modal-toggle&gt;

&lt;modal id=&quot;testing&quot;&gt;
    &lt;modal-header Title=&quot;Testing Modal Header&quot;&gt;
        &lt;modal-header-dismiss&gt;&lt;/modal-header-dismiss&gt;
    &lt;/modal-header&gt;
    &lt;modal-body&gt;
        &lt;form-input asp-for=&quot;Name&quot;&gt;&lt;/form-input&gt;
    &lt;/modal-body&gt;
    &lt;modal-footer&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot; data-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;
    &lt;/modal-footer&gt;
&lt;/modal&gt;
</pre>
            </code>
        </td>
    </tr>
    </tbody>
</table>


